.headers{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}
.normal{
	color: #bdce;
}
body{
	background-repeat: repeat-y;
	background-color: #000;
	background-attachment: fixed;
}
body,td,th{
	font-weight: bold;
	color: #bcde;
}
a:link{
	text-decoration: none;
	color: #abce;
}
a:visited{
	text-decoration: none;
	color: #789e;
}
a:hover{
	text-decoration: underline;
	color: #defe;
}
a:active{
	text-decoration: underline;
	color: #567e;
}
.tabla_centrada{
    display: inline-grid;
    margin-left: 10px;
    margin-right: 10px;
    border: double;
    width: min-content;
    padding: 10px;
}
.manito{
	cursor: pointer;
}
.oculto{
	display: none;
}
.mostrado{
	display: block;
}
.contenedor{
	text-align: center;
}

